*.suo
ZPW.All/ZPW.Util.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/ZPW.Util.Test/ZPW.Util.Test.csproj.user
ZPW.All/ZPW.Util/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/ZPW.Util/ZPW.Util.csproj.user