*.suo
ZPW.All/ZPW.Util.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/ZPW.Util.Test/ZPW.Util.Test.csproj.user
ZPW.All/ZPW.Util/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/ZPW.Util/ZPW.Util.csproj.user
ZPW.All/Output/ZPW.Util.dll
ZPW.All/Output/ZPW.Util.pdb
ZPW.All/Output/ZPW.Util.XML
ZPW.All/ZPW.Util.Test/bin/Debug/ZPW.Util.dll
ZPW.All/ZPW.Util.Test/bin/Debug/ZPW.Util.pdb
ZPW.All/ZPW.Util.Test/bin/Debug/ZPW.Util.Test.dll
ZPW.All/ZPW.Util.Test/bin/Debug/ZPW.Util.Test.pdb
ZPW.All/ZPW.Util.Test/bin/Debug/ZPW.Util.xml
ZPW.All/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.csproj.FileListAbsolute.txt
ZPW.All/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.csprojResolveAssemblyReference.cache
ZPW.All/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.dll
ZPW.All/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.pdb
ZPW.All/ZPW.Util/obj/Debug/ZPW.Util.csproj.FileListAbsolute.txt
ZPW.All/ZPW.Util/obj/Debug/ZPW.Util.csprojResolveAssemblyReference.cache
ZPW.All/ZPW.Util/obj/Debug/ZPW.Util.dll
ZPW.All/ZPW.Util/obj/Debug/ZPW.Util.pdb
*.pdb
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/DependencyLibraries.csproj.FileListAbsolute.txt
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/ZPW.Util.Validations.Enterprise.csproj.FileListAbsolute.txt
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/ZPW.Util.Validations.Enterprise.csprojResolveAssemblyReference.cache
ZPW.All/SourceCode/ZPW.Util/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ZPW.All/SourceCode/ZPW.Util/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/SourceCode/ZPW.Util/obj/Debug/ZPW.Util.csproj.FileListAbsolute.txt
ZPW.All/TestResults/ZPW.Util.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/TestResults/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.csproj.FileListAbsolute.txt
ZPW.All/TestResults/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.csprojResolveAssemblyReference.cache
ZPW.All/TestResults/ZPW.Util.Test/obj/Debug/ZPW.Util.Validations.Enterprise.csprojResolveAssemblyReference.cache
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/ZPW.Util.Validations.Enterprise.Test.csproj.FileListAbsolute.txt
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/ZPW.Util.Validations.Enterprise.Test.csprojResolveAssemblyReference.cache
ZPW.All/ZPW.All.sln.DotSettings.user
ZPW.All/Output/DependencyLibraries.dll
ZPW.All/Output/DependencyLibraries.XML
ZPW.All/Output/Microsoft.Practices.EnterpriseLibrary.Common.dll
ZPW.All/Output/Microsoft.Practices.EnterpriseLibrary.Common.xml
ZPW.All/Output/Microsoft.Practices.EnterpriseLibrary.Validation.dll
ZPW.All/Output/Microsoft.Practices.EnterpriseLibrary.Validation.xml
ZPW.All/Output/ZPW.Util.Validations.Enterprise.dll
ZPW.All/Output/ZPW.Util.Validations.Enterprise.XML
ZPW.All/SourceCode/DependencyLibraries/bin/Debug/DependencyLibraries.dll
ZPW.All/SourceCode/DependencyLibraries/obj/Debug/DependencyLibraries.dll
ZPW.All/SourceCode/Output/ZPW.Util.XML
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/ZPW.Util.Validations.Enterprise.dll
ZPW.All/SourceCode/ZPW.Util/obj/Debug/TempPE/Properties.Resource.Designer.cs.dll
ZPW.All/SourceCode/ZPW.Util/obj/Debug/TempPE/Resource.Designer.cs.dll
ZPW.All/SourceCode/ZPW.Util/obj/Debug/ZPW.Util.dll
ZPW.All/TestResults/ZPW.Util.Test/bin/Debug/ZPW.Util.dll
ZPW.All/TestResults/ZPW.Util.Test/bin/Debug/ZPW.Util.Test.dll
ZPW.All/TestResults/ZPW.Util.Test/bin/Debug/ZPW.Util.xml
ZPW.All/TestResults/ZPW.Util.Test/obj/Debug/ZPW.Util.Test.dll
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/bin/Debug/ZPW.Util.dll
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/bin/Debug/ZPW.Util.Validations.Enterprise.Test.dll
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/bin/Debug/ZPW.Util.xml
ZPW.All/TestResults/ZPW.Util.Validations.Enterprise.Test/obj/Debug/ZPW.Util.Validations.Enterprise.Test.dll
ZPW.All/SourceCode/ZPW.Util.Validations.Enterprise/obj/Debug/ZPW.Util.Domains.csprojResolveAssemblyReference.cache
ZPW.All/TestResults/ZPW.All.TE.Tests.mdf
ZPW.All/TestResults/ZPW.All.TE.Tests_log.ldf
ZPW.All/TestResults/ZPW.Util.Domains.Test/UnitTest1.cs
ZPW.All/TestResults/ZPW.Util.Test/ZPW.Util.Test.csproj.user