<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="registerServers" type="ZPW.Util.Test.Configuration.DemoClass.RegisterServersConfigurationSection,ZPW.Util.Test"/>
	</configSections>

<registerServers>
	<items>
		<add name="Server1" uri="http://localhost/zhoupingwu?a=1"/>
	</items>
</registerServers>
</configuration>