<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!--<section name="registerServers" type="ZPW.Util.Test.Configuration.DemoClass.RegisterServersConfigurationSection,ZPW.Util.Test"/>-->
		<sectionGroup  name="client.web" type="ZPW.Util.Test.Configuration.DemoClass.ClientWebSectionGroup,ZPW.Util.Test">
			<section name="pageContent" type="ZPW.Util.Test.Configuration.DemoClass.PageContentConfigurationSection,ZPW.Util.Test"/>
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="ZPW.All.MetaConfiguration" value="MetaGlobalTest.config"/>
	</appSettings>
	<client.web>
		<pageContent>
			
			<startScripts>
				<add name="jqery.1.6.js" uri="~/javascript/jquery/jqery.1.6.js"/>
				<add name="jqery.1.7.js" uri="~/javascript/jquery/jqery.1.7.js"/>
			</startScripts>
		</pageContent>
	</client.web>
	
<!--<registerServers>
	<items>
		<add name="Server1" uri="http://localhost/zhoupingwu?a=1"/>
	</items>
</registerServers>-->
</configuration>